.black {
    background-color: #030100;
}

.light-orange {
    background-color: #d15321;
}

.med-orange {
    background-color: #c84009;
}

.dark-orange {
    background-color: #9c340b;
    color: white;
}

.rounded {
    border-radius: 10px;
}

.bottom-border {
    border-bottom: 2px solid #030100;
}

a {
    color: #390072;
}

.logo {
    width: 35px;
    border-radius: 50%;
}