.black {
    background-color: #030100;
}

.background {
    background-image: url("images/phantum.sun.spotify.logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
}

.light-orange {
    background-color: #d15321;
}

.med-orange {
    background-color: #c84009;
}

.dark-orange {
    background-color: #9c340b;
    color: white;
}

.rounded {
    border-radius: 10px;
}

.bottom-border {
    border-bottom: 2px solid #030100;
}

a {
    color: #390072;
}

.light-link {
    color: #eadbf8;
}

.logo {
    width: 35px;
    border-radius: 20%;
}

.permanent-marker {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.glow {
    border: 2px solid #030100;
    box-shadow: 2px 2px 6px rgb(243, 137, 76), -2px -2px 6px rgb(243, 137, 76), 2px -2px 6px rgb(243, 137, 76), -2px 2px 6px rgb(243, 137, 76);
}

div {
    opacity: .97;
}